---
const currentPath = Astro.url.pathname;
---

<header>
    <nav>
        <input type="checkbox" id="menu-toggle" aria-label="Toggle menu"/>
        <label for="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul>
            <li>
                <a 
                    href="/" 
                    class={currentPath === "/" ? "active" : ""}
                    aria-current={currentPath === "/" ? "page" : undefined}
                >
                About
                </a>
            </li>
            <li>
                <a 
                    href="/notes-in-mathematics/" 
                    class={currentPath === "/notes-in-mathematics/" ? "active" : ""}
                    aria-current={currentPath === "/notes-in-mathematics/" ? "page" : undefined}
                >
                    Notes in Math
                </a>
            </li>
            <li>
                <a href="/dist/pdfs/cv/victor-ballester-cv.pdf" target="_blank" rel="noopener noreferrer">
                    <span>CV</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 16">
                        <path d="M6.5 6A4 4 0 1114.5 6V7H15.5A3.5 3.5 0 1115.5 14 1 1 0 1015.5 16 5.5 5.5 0 0016.4 5.1 6 6 0 004.6 5.1 5.5 5.5 0 005.5 16 1 1 0 105.5 14H5.5A3.5 3.5 0 115.5 7H6.5ZM11.5 7A1 1 0 109.5 7V12.6L8.2 11.3A1 1 0 006.8 12.7L9.8 15.7A1 1 0 0011.2 15.7L14.2 12.7A1 1 0 0012.8 11.3L11.5 12.6Z"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</header>