---
import { ClientRouter } from 'astro:transitions';

import '../styles/variables.css';
import '../styles/components/header.css';
import '../styles/components/footer.css';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="icon" type="image/x-icon" href="/images/logos/others/boeing-747.ico">
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>
